body {
	background: url(images/Strawberries.jpg);
	background-size: 100% 100%;
}
div.toplogo img { 
	display: block;
	margin: auto;
	height: 150px;
	width: 150px;
}



table#nav a:link {color:black;         
text-decoration:none;
}
table#nav a:visited {color: black;
}
table#nav a:hover {
  color:white;  
}
table#nav a {
	color:black;
	
}
table#nav {
	margin-top: 10px;
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 25px;	
	
}
table#nav tr td {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
