<!-- The Cuisine Page-->
<!DOCTYPE html>
<html>
	<head>
		<title>Cuisine</title>

		<link rel="shortcut icon" href="static/images/Logo.jpg">
		<link rel="stylesheet" type="text/css" href="static/css/modelstyle.css">
		<link rel="stylesheet" type="text/css" href="static/css/navigationbarstyle.css">
		<style type="text/css">
			body {
				background: url(/static/images/backgroundimg.jpg);
				background-size: cover;
			}

			#headingimg {
				background:url(/static/images/Strawberries.jpg) no-repeat;
				background-size: 100% 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
		</style>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<script>$(document).ready(function() {$('#model').DataTable({"bFilter": false, "bLengthChange": false, "pageLength" : 3});} );</script>
		<style>.dataTables_wrapper { font-size: 20px } </style>
	</head>

	<body>
		<div id="headingimg">
			<div class="toplogo">
				<img src="static/images/Logo.png" alt="Logo">
			</div>

			<table id="nav", width="100%">
				<tr>
					<td align="center"> <a href={{url_for('index')}}>Home</a> </td>
					<td align="center"> <a href={{url_for('cuisine')}}>Cuisine</a> </td>
					<td align="center"> <a href={{url_for('recipe')}}>Recipe</a> </td>
					<td align="center"> <a href={{url_for('ingredients')}}>Ingredients</a> </td>
					<td align="center"> <a href={{url_for('about')}}>About</a> </td>
				</tr>
			</table>
		</div>

		<table id="model", class= "table table-bordered", data-toggle="table", border="2", align="center">
			<thead>
			<tr>
				<th> Cuisine </th>
				<th> Common Ingredients </th>
				<th> Techniques </th>
				<th> Dishes </th>
				<th> Climate </th>
			</tr>
			</thead>

			<tbody>
			<tr>
				<td align="center"> <a href={{url_for('cuisine_jap')}}> Japanese</a> </td>
				<td align="center"> <a href={{url_for('ingredients_wr')}}>White Rice</a>, <a href={{url_for('ingredients_ss')}}> Soy Sauce</a>, Miso, Bonito Flakes, Seaweed, Mirin </td>
				<td align="center"> Stir-fry, Steam, Pickling, Deep-fried </td>
				<td align="center"> Miso Soup, <a href={{url_for('recipe_s')}}>Sushi</a>, Sukiyaki, Tempura </td>
				<td align="center"> Temperate </td>
			</tr>
			<tr>
				<td align="center"> <a href={{url_for('cuisine_ind')}}> Indian</a> </td>
				<td align="center"> Basmati Rice, Chickpea, Chapati Flour, Coconut, Yogurt, <a href={{url_for('ingredients_t')}}>Tumeric</a> </td>
				<td align="center"> Steam, Stew, Temper, Smoke Seasoning </td>
				<td align="center"> Dal, Chutney, Lentils, Dosa, Samosa, <a href={{url_for('recipe_c')}}>Curry</a> </td>
				<td align="center"> Various Microclimates </td>
			</tr>
			<tr>
				<td align="center"><a href={{url_for('cuisine_french')}}> French</a></td>
				<td align="center"> Bread, Butter, Cheese, Olive Oil, <a href={{url_for('ingredients_w')}}> Wine</a>, Tarragon </td>
				<td align="center"> Braising, Flambeing, Grill, Poach, Saute </td>
				<td align="center"> Croque-Monsieur, Soupe a l'oignon, Cheese Souffle, Pot-au-feu, <a href={{url_for('recipe_lbs')}}>Lemon Butter Scallops</a></td>
				<td align="center"> Temperate Mediterranean </td>
			</tr>
			<tr>
				<td align="center"><a href={{url_for('cuisine_chi')}}> Chinese</a></td>
				<td align="center"> Oyster Sauce, <a href={{url_for('ingredients_ss')}}>Soy Sauce</a>, Rice Wine, Chili, Five-Spice Powder, Noodles, Rice, Peanut Oil </td>
				<td align="center"> Stir-fry, Xing Wei, Steaming, Red Braise </td>
				<td align="center"> <a href={{url_for('recipe_cps')}}>Chinese Pepper Steak</a>, Dumplings, Stir-fry, Eggrolls </td>
				<td align="center"> Ranges from Tropical to Subarctic </td>
			</tr>
			<tr>
				<td align="center"><a href={{url_for('cuisine_filipino')}}> Filipino</a></td>
				<td align="center"> <a href={{url_for('ingredients_bl')}}>Bay Leaves</a>, Rice, Seafood, Goat Meat </td>
				<td align="center"> Boiling, Grilling, Roasting, Steaming </td>
				<td align="center"> <a href={{url_for('recipe_gca')}}>Grilled Chicken Adobo</a>, Pancit, Lumpia, Lechon, Sisig </td>
				<td align="center"> Tropical </td>
			</tr>
			<tr>
				<td align="center"><a href={{url_for('cuisine_greek')}}> Greek</a></td>
				<td align="center"> <a href={{url_for('ingredients_m')}}>Milk</a>, Olives, Cheese, Rosemary, Coriander, Basil, Filo Pastry, Lemons, Yogurt, Vinegar </td>
				<td align="center"> Stoforno, Tiganita, Psito, Vrasto </td>
				<td align="center"> <a href={{url_for('recipe_m')}}>Moussaka</a>, Souvlaki, Fasolada, Tzatziki, Gyro </td>
				<td align="center"> Mediterannean </td>
			</tr>
			</tbody>
			</table>
	</body>
</html>
