<!-- The White Rice Page-->


<html>
	<head>
		<title>White Rice</title>
		
		<link rel="shortcut icon" href="static/images/Logo.jpg">
		<link rel="stylesheet" type="text/css" href="static/css/navigationbarstyle.css">
		<link rel="stylesheet" type="text/css" href="static/css/attributestyle.css">
		<style type="text/css">
			body {
				background: url(/static/images/backgroundimg.jpg);
				background-size: cover;
			}

			#headingimg {
				background:url(/static/images/Strawberries.jpg) no-repeat;
				background-size: 100% 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
		</style>
	</head>
	<body>
		<div id="headingimg">
			<div class="toplogo">
				<img src="static/images/Logo.png" alt="Logo">
			</div>

			<table id="nav", width="100%">
				<tr>
					<td align="center"> <a href={{url_for('index')}}>Home</a> </td>
					<td align="center"> <a href={{url_for('cuisine')}}>Cuisine</a> </td>
					<td align="center"> <a href={{url_for('recipe')}}>Recipe</a> </td>
					<td align="center"> <a href={{url_for('ingredients')}}>Ingredients</a> </td>
					<td align="center"> <a href={{url_for('about')}}>About</a> </td>
				</tr>
			</table>
		</div>
		<div id="top">
			<h1>
				<span>White Rice</span>
			</h1>
			
			<p id="description">
				White rice is the name given to milled rice that has had its husk, bran, and germ removed. This alters the flavor, texture and appearance of the rice and helps prevent spoilage and extend its storage life. After milling, the rice is polished, resulting in a seed with a bright, white, shiny appearance.
				
			</p>
			<table id="pic">
				<tr>
					<td> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Half_a_cup_of_rice._Brown_rice_is_the_best_choice.JPG/220px-Half_a_cup_of_rice._Brown_rice_is_the_best_choice.JPG" height="300px" width="450px"></td>
				</tr>
			</table>
		</div>
		<table id="attributes", width="100%", align="center", cellspacing="80">
			<tr>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('cuisine')}}>Cuisine</a></p>
					<p><a href={{url_for('cuisine_jap')}}>Japanese</a> </p>	
					<img src="static/images/cuisine.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('recipe')}}>Recipes</p>
					<p><a href={{url_for('recipe_s')}}>Sushi</a> </p>	
					<img src="static/images/recipe.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title">Additional Information	</p>
					<p id="hh"><strong>Cuisine</strong></p>
					<p>Japanese</p>
					<p id="hh"><strong>Dishes</strong></p>
					<p>Sushi</p>
					<p id="hh"><strong>Price</strong></p>
					<p>$0.52/lb</p>
					<p id="hh"><strong>Calories</strong></p>
					<p>206 Calories/cup</p>
					<p id="info"><a href="https://en.wikipedia.org/wiki/White_rice"><strong>Click here for more information!</strong></a></p>
				</td>
					
					
			</tr>
		</table>
		<p>
		<a href=http://nutritiondata.self.com/facts/cereal-grains-and-pasta/5712/2>
		Source: nutritiondata
		</a>
		</p>				
	</body>
</html>