<!-- The Soy Sauce Page-->

<html>
	<head>
		<title>Soy Sauce</title>
		
		<link rel="shortcut icon" href="static/images/Logo.jpg">
		<link rel="stylesheet" type="text/css" href="static/css/navigationbarstyle.css">
		<link rel="stylesheet" type="text/css" href="static/css/attributestyle.css">
		<style type="text/css">
			body {
				background: url(/static/images/backgroundimg.jpg);
				background-size: cover;
			}

			#headingimg {
				background:url(/static/images/Strawberries.jpg) no-repeat;
				background-size: 100% 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
		</style>
	</head>
	<body>
		<div id="headingimg">
			<div class="toplogo">
				<img src="static/images/Logo.png" alt="Logo">
			</div>

			<table id="nav", width="100%">
				<tr>
					<td align="center"> <a href={{url_for('index')}}>Home</a> </td>
					<td align="center"> <a href={{url_for('cuisine')}}>Cuisine</a> </td>
					<td align="center"> <a href={{url_for('recipe')}}>Recipe</a> </td>
					<td align="center"> <a href={{url_for('ingredients')}}>Ingredients</a> </td>
					<td align="center"> <a href={{url_for('about')}}>About</a> </td>
				</tr>
			</table>
		</div>
		<div id="top">
			<h1>
				<span>Soy Sauce</span>
			</h1>
			
			<p id="description">
				Soy sauce (also called soya sauce) is a condiment made from a fermented paste of boiled soybeans, roasted grain, brine, and Aspergillus oryzae or Aspergillus sojae molds. Soy sauce originated in China sometime between the 3rd and 5th century from a meat-based fermented sauce named jiang. Its use later spread to East and Southeast Asia. Like many salty condiments, soy sauce was originally a way to stretch salt, historically an expensive commodity. In ancient China, fermented fish with salt was used as a condiment in which soybeans were included during the fermentation process. Eventually, this was replaced and the recipe for soy sauce, using soybeans as the principal ingredient, with fermented fish-based sauces developing separately into fish sauce.
			</p>
			<table id="pic">
				<tr>
					<td> <img src="http://www.seriouseats.com/images/20110328-soy-sauce-group.jpg" height="300px" width="450px"></td>
				</tr>
			</table>
		</div>
		<table id="attributes", width="100%", align="center", cellspacing="80">
			<tr>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('cuisine')}}>Cuisine</a></p>
					<p><a href={{url_for('cuisine_chi')}}>Chinese</a> </p>	
					<img src="static/images/cuisine.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('recipe')}}>Recipes</p>
					<p><a href={{url_for('recipe_cps')}}>Chinese Pepper Steak</a> </p>	
					<img src="static/images/recipe.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title">Additional Information	</p>
					<p id="hh"><strong>Cuisine</strong></p>
					<p>Chinese</p>
					<p id="hh"><strong>Dishes</strong></p>
					<p>Chinese Pepper Steak, Three Cup Chicken</p>
					<p id="hh"><strong>Price</strong></p>
					<p>$3.35/10 oz</p>
					<p id="hh"><strong>Calories</strong></p>
					<p>9 cal/tsp</p>
					<p id="info"><a href="https://en.wikipedia.org/wiki/Soy_sauce"><strong>Click here for more information!</strong></a></p>
				</td>
					
					
			</tr>
		</table>		
		<p>
		<a href=http://www.myfitnesspal.com/food/calories/generic-2-tbsp-soy-sauce-405553664>
		Source: myfitnesspal
		</a>
		</p>		
	</body>
</html>