<!-- The Wine Page-->


<html>
	<head>
		<title>Wine</title>
		
		<link rel="shortcut icon" href="static/images/Logo.jpg">
		<link rel="stylesheet" type="text/css" href="static/css/navigationbarstyle.css">
		<link rel="stylesheet" type="text/css" href="static/css/attributestyle.css">
		<style type="text/css">
			body {
				background: url(/static/images/backgroundimg.jpg);
				background-size: cover;
			}

			#headingimg {
				background:url(/static/images/Strawberries.jpg) no-repeat;
				background-size: 100% 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
		</style>
	</head>
	<body>
		<div id="headingimg">
			<div class="toplogo">
				<img src="static/images/Logo.png" alt="Logo">
			</div>

			<table id="nav", width="100%">
				<tr>
					<td align="center"> <a href={{url_for('index')}}>Home</a> </td>
					<td align="center"> <a href={{url_for('cuisine')}}>Cuisine</a> </td>
					<td align="center"> <a href={{url_for('recipe')}}>Recipe</a> </td>
					<td align="center"> <a href={{url_for('ingredients')}}>Ingredients</a> </td>
					<td align="center"> <a href={{url_for('about')}}>About</a> </td>
				</tr>
			</table>
		</div>
		<div id="top">
			<h1>
				<span>Wine</span>
			</h1>
			
			<p id="description">
				Wine is an alcoholic beverage made from fermented grapes. These grapes are generally Vitis vinifera, or a hybrid with Vitis labrusca or Vitis rupestris. Grapes are fermented without the addition of sugars, acids, enzymes, water, or other nutrients. Yeast consumes the sugar in the grapes and converts it to ethanol and carbon dioxide. Different varieties of grapes and strains of yeasts produce different styles of wine. These variations result from the complex interactions between the biochemical development of the grape, the reactions involved in fermentation, the terroir, and the production process. Many countries enact legal appellations intended to define styles and qualities of wine. These typically restrict the geographical origin and permitted varieties of grapes, as well as other aspects of wine production.
				
			</p>
			<table id="pic">
				<tr>
					<td> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Red_and_white_wine_12-2015.jpg/220px-Red_and_white_wine_12-2015.jpg" height="300px" width="450px"></td>
				</tr>
			</table>
		</div>
		<table id="attributes", width="100%", align="center", cellspacing="80">
			<tr>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('cuisine')}}>Cuisine</a></p>
					<p><a href={{url_for('cuisine_french')}}>French</a> </p>	
					<img src="static/images/cuisine.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('recipe')}}>Recipes</p>
					<p><a href={{url_for('recipe_lbs')}}>Lemon Butter Scallops</a> </p>	
					<img src="static/images/recipe.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title">Additional Information	</p>
					<p id="hh"><strong>Cuisine</strong></p>
					<p>French</p>
					<p id="hh"><strong>Dishes</strong></p>
					<p>Scallops</p>
					<p id="hh"><strong>Price</strong></p>
					<p>Variable</p>
					<p id="hh"><strong>Calories</strong></p>
					<p>123 Calories/5 oz</p>
					<p id="info"><a href="https://en.wikipedia.org/wiki/Wine"><strong>Click here for more information!</strong></a></p>
				</td>
					
			</tr>
		</table>		
		<p>
		<a href=http://winefolly.com/tutorial/wine-nutrition-facts/>
		Source: Winefolly
		</a>
		</p>				
	</body>
</html>