<!-- The Moussaka Page-->

<html>
	<head>
		<title>Mossaka</title>
		
		<link rel="shortcut icon" href="static/images/Logo.jpg">
		<link rel="stylesheet" type="text/css" href="static/css/navigationbarstyle.css">
		<link rel="stylesheet" type="text/css" href="static/css/attributestyle.css">
		<style type="text/css">
			body {
				background: url(/static/images/backgroundimg.jpg);
				background-size: cover;
			}

			#headingimg {
				background:url(/static/images/Strawberries.jpg) no-repeat;
				background-size: 100% 100%;
				padding-bottom: 10px;
				padding-top: 10px;
				overflow: hidden;
		</style>
	</head>
	<body>
		<div id="headingimg">
			<div class="toplogo">
				<img src="static/images/Logo.png" alt="Logo">
			</div>

			<table id="nav", width="100%">
				<tr>
					<td align="center"> <a href={{url_for('index')}}>Home</a> </td>
					<td align="center"> <a href={{url_for('cuisine')}}>Cuisine</a> </td>
					<td align="center"> <a href={{url_for('recipe')}}>Recipe</a> </td>
					<td align="center"> <a href={{url_for('ingredients')}}>Ingredients</a> </td>
					<td align="center"> <a href={{url_for('about')}}>About</a> </td>
				</tr>
			</table>
		</div>
		<div id="top">
			<h1>
				<span>Mossaka</span>
			</h1>
			
			<p id="description">
				1. Lay the slices of eggplant on paper towels, sprinkle lightly with salt, and set aside for 30 minutes to draw out the moisture. Then in a skillet over high heat, heat the olive oil. Quickly fry the eggplant until browned. Set aside on paper towels to drain.<br />
				2. In a large skillet over medium heat, melt the butter and add the ground beef, salt and pepper to taste, onions, and garlic. After the beef is browned, sprinkle in the cinnamon, nutmeg, fines herbs and parsley. Pour in the tomato sauce and wine, and mix well. Simmer for 20 minutes. Allow to cool, and then stir in beaten egg.<br />
				3. To make the bechamel sauce, begin by scalding the milk in a saucepan. Melt the butter in a large skillet over medium heat. Whisk in flour until smooth. Lower heat; gradually pour in the hot milk, whisking constantly until it thickens. Season with salt, and white pepper.<br />
				4. Arrange a layer of eggplant in a greased 9x13 inch baking dish. Cover eggplant with all of the meat mixture, and then sprinkle 1/2 cup of Parmesan cheese over the meat. Cover with remaining eggplant, and sprinkle another 1/2 cup of cheese on top. Pour the bechamel sauce over the top, and sprinkle with the nutmeg. Sprinkle with the remaining cheese.<br />
				5. Bake for 1 hour at 350 degrees F (175 degrees C).<br />
			</p>
			<table id="pic">
				<tr>
					<td> <img src="http://images.media-allrecipes.com/userphotos/560x315/876056.jpg" height="300px" width="450px"></td>
				</tr>
			</table>
		</div>
		<table id="attributes", width="100%", align="center", cellspacing="80">
			<tr>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('cuisine')}}>Cuisine</a></p>
					<p><a href={url_for('cuisine_greek')}}>Greek</a> </p>	
					<img src="static/images/cuisine.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title"><a href={{url_for('ingredients')}}>Ingredients</a></p>
					<p><a href={url_for('ingredients_m')}}>Milk</a> </p>	
					<img src="static/images/ingredients.png" height="150px" width="150px">
				</td>
				<td align="center", width="33%">
					<p id="title">Additional Information	</p>
					<p id="hh"><strong>Time</strong></p>
					<p>1 hour 45 min </p>
					<p id="hh"><strong>Cuisine</strong></p>
					<p>Greek</p>
					<p id="hh"><strong>Ingredients</strong></p>
					<p>Eggplant, Salt, Olive Oil, Ground Beef, Black Pepper, Onion, Garlic, Ground Cinnamon, Ground Nutmeg, Fine Herbs, Dried Parsley, Tomato Sauce, Red Wine, Egg, Milk, Butter, Flour, White Pepper, Parmesan</p>
					<p id="hh"><strong>Calories</strong></p>
					<p>567 Calories</p>
					<p id="info"><a href="http://allrecipes.com/recipe/19644/moussaka/"><strong>Click here for more information!</strong></a></p>
				</td>
					
			</tr>
		</table>		
		<p>
		<a href=http://allrecipes.com/recipe/19644/moussaka/>
		Source: AllRecipes
		</a>
		</p>		
	</body>
</html>